.benifits li{
    text-align: left;
    font-size: 1.1rem;
    color: #FFF;
    padding: 5px;
    list-style-type: square;
}
.pricingplan__body h3{
    position: absolute !important;
    bottom: 50px!important;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.pricingplan__body{
    padding-bottom: 50px;
}
.pricingbg{
    padding: 75px;
}
.pricingplan__btn{
    margin-top: 10px;
}