.benifits li{
    text-align: left;
    font-size: 1.1rem;
    color: #FFF;
    /* padding: 5px; */
    list-style-type: square;
}
.pricingplan__body h3{
    position: absolute !important;
    bottom: 50px!important;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.pricingplan__body{
    padding-bottom: 50px;
}
.pricingbg{
    /* padding: 75px; */
}
.pricingplan__btn{
    margin-top: 10px;
}
.pricingheader{
    font-size: 5.5rem;
    font-style: italic;
    font-family: 'PiecesofEight';
    text-align: center;
    color: #fefefe;
}
.pricingdescription{
    font-size: 2.7rem;
    font-family: 'PiecesofEight';
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    text-align: center;
    color: #fefefe;
}
@media screen and (max-width: 600px) {
    .pricingheader{
        font-size: 3.5rem;
    }
    .pricingdescription{
        font-size: 1.7rem;
    }
}